@media (min-width: 600px) {
    .row {
        display: flex;
    }

    .column {
        flex: 25%;
    }
}

@media (max-width: 599px) {
    .row {
        display: flex;
    }

    .column {
        flex: 50%;
    }
}