a {
    font-size: 18px;
    color: blue;
    padding: 5px;
}

th {
    background-color: green;
    text-align: center;
}

#menubar {
    width: 90%;
    margin: 10%;
    border-collapse: collapse;
    border-color: black;
}