* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 64px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

a {
    font-size: 18px;
    color: blue;
    padding: 5px;
}

th {
    background-color: green;
    text-align: center;
}

#menubar {
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
    border-color: black;
    border: 3px solid;
}

.column-6 {
    float: left;
    width: 50%;
    padding: 20px;
}

.column-3 {
    float: left;
    width: 25%;
    padding: 20px;
}

.column-9 {
    float: left;
    width: 75%;
    padding: 20px;
}